@media  screen and (max-width: 1300px) {

    .offer-card {
        padding: 22px 10px;
    }

}

@media screen and (max-width: 1020px) {

    .search-bar {
        justify-content: space-evenly;
    }

    .for-search {
        width: 30%;
    }

    .center {
        width: 100%;
    }

    .welcome {
        text-align: center;
        display: block;
    }

    .welcome-img {
        display: none;
    }

    .offer-card {
        padding: 18px;
    }
}

@media screen and (max-width: 995px) {

    html {
        font-size: 15px;
    }

    .offers {
        margin-top: 3rem;
    }

    .df-offer {
        display: block;
    }

    .offer-card {
        width: 100%;
        height: 70%;
        margin-top: 1rem;
    }

    .projects {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 750px) {

    body {
        padding: 0 10px;
    }

    .nav-logo {
        display: none;
    }

    .for-search {
        width: 50%;
    }

    .about-card {
        width: 140px;
    }

    .about-card i {
        font-size: 30px;
        color: var(--white);
    }

    .card-number {
        bottom: 10px;
        font-size: 16px;
        position: absolute;
        color: var(--white);
    }

    .offer-card {
        padding: 10px;
    }

    .welcome {
        height: 45%;
    }

    .projects {
        height: 50vh;
    }

    .video-page {
        padding: 5px 5px;
    }
}

@media screen and (max-width: 540px) {
    .profile-df {
        width: 20%;
        margin-right: 3rem;
    }

    .center {
        text-align: center;
    }

    .no-note {
        width: 200px;
        height: 200px;
    }

    .welcome {
        padding: 30px 5px;
    }

    .about-app {
        display: block;
    }

    .about-card {
        width: 100%;
        height: 50px;
        display: flex;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .card-number {
        top: 17px;
        left: 10px;
    }

    .offer-card {
        padding: 0px 10px;
        height: 80%;
    }

    .video-card {
        padding: 10px 20px;
    }

}

@media screen and (max-width: 400px) {
    #menu, #remove-menu {
        top: 20px;
        font-size: 20px;
    }

    .welcome {
        height: 35%;
        padding: 20px 10px;
    }

    .welcome-txt h4 {
        display: none;
    }

    .offers {
        padding: 5px 10px;
    }

    .offer-card {
        height: 95%;
    }

    .projects {
        margin-top: 20rem;
    }

    .video-page {
        padding: 0;
    }

    .video-page .swiper-slide {
        padding: 0;
    }

    .video-card video {
        width: 100%;
        height: 85%;
        margin-top: 3rem;
    }

    #go-back {
        top: 18px;
        left: 85%;
        z-index: 99;
        cursor: pointer;
        font-size: 25px;
        padding: 10px 10px;
        position: absolute;
        border-radius: 50%;
        color: var(--indigo);
        background: var(--white);
    }
}

@media screen and (max-width: 380px) {

    header {
        width: 100%;
    }

    .center {
        padding: 10px 20px;
    }

    .profile-df {
        width: 25%;
    }

    .search-btn {
        top: 0;
        width: 40px;
        height: 98%;
        font-size: 20px;
        border-radius: 50px;
        color: var(--white);
        background: var(--indigo);
    }

    .no-note {
        width: 150px;
        height: 150px;
    }
}