* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: #fff;
    background: #5177d0;
}

:root {
    --indigo:#5177d0;
    --white: #fff;
    --black: #121212;
    --yellow: #F9D44A;
    --green: #01A761;
}

::-webkit-scrollbar {
    width: 10px;
    background: #5177d0;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 50px;
    background: var(--yellow);
}

body {
    background: #f2f8fd;
    padding: 0 30px;
}

.loader {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    /* display: none; */
    position: absolute;
    position: fixed;
    backdrop-filter: blur(30px);
    justify-content: center;
}

.loader-logo {
    font-size: 30px;
}

.loader-logo span {
    color: var(--indigo);
}

.loader-round {
    top: 60%;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    border-left: 5px solid var(--indigo);
    border-right: 5px solid var(--indigo);
    border-bottom: 5px solid var(--indigo);
    border-top: 5px solid transparent;
    animation: loaderRound 1s linear infinite;
}

.round-in {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border-left: 5px solid var(--indigo);
    border-right: 5px solid var(--indigo);
    border-bottom: 5px solid transparent;
    border-top: 5px solid var(--indigo);
    animation: inLoader 1s linear infinite;
}

@keyframes loaderRound {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes inLoader {
    100% {
        transform: rotate(460deg);
    }
}


#menu, #remove-menu {
    top: 15px;
    right: 15px;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white);
    position: fixed;
    background: var(--yellow);
    box-shadow: 0 3px 0 3px var(--black);
    transition: transform 0.5s ease;
}

#menu.active {
    transform: translateX(500%);
}

#remove-menu {
    transform: translateX(300%);
    transition: transform 0.5s ease;
}

#remove-menu.active {
    transform: translateX(0%);
}

header {
    width: 250px;
    height: 100vh;
    z-index: 10;
    text-align: center;
    padding: 30px 10px;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(20px);
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

header.active {
    transform: translateY(0%);
}

.nav-logo {
    width: 60px;
    height: 60px;
}

.navbar {
    margin-top: -1rem;
    position: relative;
}

.navbar a {
    display: block;  
    color: var(--black);
    padding: 20px 20px;
    margin-top: 1rem;
    font-size: 18px;
    text-decoration: none;  
    transition: transform 0.5s ease;
}

.navbar a:hover {
    transform: translateX(5%);
}

.videos {
    display: none;
}

.search-bar {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    position: fixed;
    backdrop-filter: blur(20px);
    justify-content: space-around;
}

.for-search {
    width: 50%;
    position: relative;
}

.search-input {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    color: var(--indigo);
    border: 3px solid var(--indigo);
}

.search-btn {
    top: 2px;
    right: 0;
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    color: var(--indigo);
    position: absolute;
    background: transparent;
}

.profile-df {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-df i {
    font-size: 30px;
    cursor: pointer;
}

.center {
    width: 100%;
    height: 100vh;
    z-index: -1;
    padding: 30px 20px;
    background: transparent;
    margin-top: 5rem;
}

.center::-webkit-scrollbar {
    width: 0%;
    height: 0%;
}

.welcome {
    width: 100%;
    height: 53%;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0 0 5px var(--green);
}

.welcome-logo span {
    color: var(--indigo);
}

.welcome h4 {
    margin-top: 0.5rem;
}

.welcome-img {
    width: 350px;
    height: 300px;
}

.welcome-img img {
    width: 100%;
    height: 100%;
}

.about-app {
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
}

.about-card {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--indigo);
    justify-content: center;
    position: relative;
    margin-left: 1rem;
}

.about-card:nth-child(2) {
    background: var(--green);
}

.about-card:nth-child(3) {
    background: var(--yellow);
}

.about-card i {
    font-size: 50px;
    color: var(--white);
}

.card-number {
    bottom: 10px;
    position: absolute;
    color: var(--white);
}

.offers {
    width: 100%;
    height: 50%;
    margin-top: 3rem;
    border-radius: 10px;
    padding: 10px 20px;
}

.offers h3 {
    padding: 10px 0;
    font-size: 22px;
}

.df-offer {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-card {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    padding: 30px 22px;
    color: var(--white);
    overflow: hidden;
    background: var(--yellow);
    transition: transform .5s ease;
}

.offer-card:nth-child(2) {
    background: var(--indigo);
}

.offer-card:nth-child(3) {
    background: var(--green);
}

.offer-card:hover {
    transform: translateY(10%);
}

.offer-card p {
    margin-top: 0.5rem;
}

.notepad {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: absolute;
    padding: 82px 20px;
    position: fixed;
    transform: translateY(-500%);
    backdrop-filter: blur(20px);
    transition: transform 1s ease;
}

.notepad.active {
    transform: translateY(0%);
}

.note-logo {
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    color: var(--white);
    border-radius: 5px;
    background: var(--indigo);
}

.writer {
    width: 100%;
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 3px solid var(--indigo);
}

.save-notes {
    width: 100%;
    height: 45px;
    font-size: 20px;
    margin-top: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white);
    background: var(--indigo);
    border: 3px solid var(--indigo);
    box-shadow: 0 3px 0 3px var(--black);
}

#remove-note {
    left: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    padding: 10px 10px;
    color: var(--white);
    border-radius: 50px;
    background: var(--indigo);
    transition: transform 1s ease;
    animation: removeNote 1s linear infinite;
}

@keyframes removeNote {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

.request {
    width: 100%;
    height: 70%;
    margin-top: 3rem;
    overflow-y: scroll;
    border-radius: 5px;
}

.request::-webkit-scrollbar {
    width: 0;
}

.result {
    font-size: 30px;
}

.result-card {
    width: 100%;
    height: 70px;
    font-size: 20px;
    margin-top: 1rem;
    border-radius: 5px;
    color: var(--white);
    padding: 5px 5px;
    position: relative;
    list-style: none;
    background: var(--indigo);
}

.result-card p {
    font-size: 20px;
}

.delete-result {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: var(--white);
    background: crimson;
    border-radius: 5px;
}

.go-home {
    top: 15px;
    right: 20px;
    padding: 10px 60px;
    position: absolute;
    color: var(--white);
    border-radius: 5px;
    background: var(--indigo);
}

.no-notes {
    width: 100%;
    height: 50%;
    display: block;
    text-align: center;
    margin-top: 3rem;
}

.no-notes.active {
    display: none;
}

.no-txt {
    font-size: 20px;
    margin-top: 5rem;
}

.no-note {
    width: 250px;
    height: 250px;
    text-align: center;
    margin-top: 1rem;
}

.projects {
    width: 100%;
    height: 70vh;
    margin-top: 3rem;
    padding: 10px 30px;
    margin-bottom: 5rem;
}

.projects h3 {
    font-size: 22px;
}

.projects h3 span {
    color: var(--green);
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.swiper-slide {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.p-name {
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    position: absolute;
    color: var(--white);
    border-radius: 10px;
    background: var(--green);
}

.p-demo {
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    position: absolute;
    color: var(--white);
    border-radius: 10px;
    background: var(--green);
    text-decoration: none;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-page {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100vh;
    position: absolute;
    position: fixed;
    padding: 30px 30px;
    backdrop-filter: blur(25px);
    transform: translateY(-500%);
    transition: transform 1s ease;
}

.video-page.active {
    transform: translateY(0);
}

#go-back {
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 10px;
    position: absolute;
    border-radius: 50%;
    color: var(--white);
    background: var(--indigo);
}

.video-page .swiper-slide {
    padding: 50px 50px;
}

.video-card {
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 10px;
    padding: 30px 60px;
    position: relative;
}

.video-name {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    position: absolute;
    color: var(--white);
    justify-content: start;
    background: var(--indigo);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.video-card video {
    width: 100%;
    height: 100%;
}

#like, #free-code {
    right: 15px;
    bottom: 55%;
    font-size: 22px;
    cursor: pointer;
    padding: 10px 10px;
    position: absolute;
    color: var(--white);
    border-radius: 50px;
    background: var(--indigo);
}

#free-code {
    bottom: 48%;
}